body{
    display: contents;
}

.navbar{
    float: right;
    margin: 15px;
}

.nav-items{
    margin-right: 15px;
    text-decoration: none;
    color: black;
}

.nav-items:hover{
    text-decoration: underline;
}

.main{
    margin-top: 300px;
    text-align: center;
}

.input-area{
    margin-top: 20px;
}

.input-box{
    width: 584px;
    height: 46px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding: 0 45px;
}

.search-icon{
    position: relative;
    left: 40px;
    color: #9aa0a6;
}

.mic-icon{
    position: relative;
    right: 40px;
    color: #9aa0a6;
}

.button-area{
    padding-top: 18px;
}

.button-style{
    height: 36px;
    padding: 0 16px;
    margin: 11px 4px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    font-family: arial,sans-serif;
}

.button-style:hover{
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.offered-area a{
    padding: 0 4px;
    text-decoration: none;
    color: #1a0dab;
}

.offered-area a:hover{
    text-decoration: underline;
}

.footer{
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: #f2f2f2;
}

.footer .first-line{
    padding: 15px 30px;
    font-size: 15px;
    border-bottom: 1px solid #dadce0;
}
.footer .second-line{
    padding: 15px 30px;
    font-size: 15px;
}
.footer .second-line a{
    text-decoration: none;
    color: #70757a;
    padding: 15px;
}
.footer .second-line a:hover{
    text-decoration: underline;
}
.second-line-second{
    float: right;
}